<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h1>El titulo de nuestro documento</h1>
    
    <h2>Un subtitulo de nuestro documento</h2>

    <img src="/images/leia.jpg" alt="">
    <strong>esto es otro tecto en negrilla</strong>

    <p class="parrafo-destacado">Lorem ipsum dolor <em>soy un texto en cursiva</em> sit amet consectetur adipisicing elit. Ullam perferendis earum voluptatem omnis? Voluptatum, explicabo voluptates laudantium, dignissimos impedit qui et odio ipsam dicta soluta a dolore eum quos sed?</p>
    
    <p>Lorem ipsum dolor sit <strong>esto es un texto en negrilla</strong> consectetur <em>soy un texto en cursiva</em>  adipisicing elit. Ullam perferendis earum voluptatem omnis? Voluptatum, explicabo voluptates laudantium, dignissimos impedit qui et odio ipsam dicta soluta a dolore eum quos sed?</p>

    <a href="https://www.google.com">Ir a google</a>
</body>
</html>