/* Diseño responsivo*/    

 
@media (min-width: 361px){
    main section article .descripcion{
        display: block;
    }

   /* main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    } */

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.productos article{
        width: 45%;
    }

    .precio,
    .descuento{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.productos article{
        width: 22%;
    }

    div.HeaderUp p {
      flex-grow: 0.5;
    }

    div.HeaderUp  {
      flex-wrap: nowrap;
    }
}
